---
layout: default
title : Granted Patents
navbar_title: Granted Patents
---

<div class="row">
    <div class="col-12 col-lg-10">
        <h2 class="pt-4" id="patents">Granted Patents</h2>
        {% if site.data.profile.patents %}
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in site.data.profile.patents %}
            <div class="row no-gutters {% unless forloop.last %}border-bottom{% endunless %} border-gray">
                <div class="col p-3">
                    <h5 class="mt-0 mb-1 font-weight-normal">{{ item.name }}</h5>
                    <p class="mt-0 mb-0 small text-muted">
                        {%- if item.number -%}
                        <a href="https://patents.google.com/patent/{{ item.number }}" target="_blank">{{ item.number }}</a>
                        {%- endif -%}
                        {%- if item.date %} &middot; {{ item.date }}{% endif -%}
                        {%- if item.status %} &middot; {{ item.status }}{% endif -%}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
